<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.camden.cowtipline"
        version   = "1.0.0">
    <name>CowTipLine</name>

    <author href="http://www.raymondcamden.com" email="raymondcamden@gmail.com">
        Raymond Camden
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <icon src="icons/rays_cow_57.png" width="57" height="57" />
    <icon src="icons/rays_cow_72.png" width="72" height="72" />

</widget>